{% from 'create_card_list.htm' import create_list -%}
<style>
    body {
      font-family: Arial, sans-serif;
    }
    .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 600px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      margin: 20px auto;
      padding: 30px;
      padding-bottom: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .card-image {
      width: 200px;
      height: 200px;
      display: block;
    }

    /* .card-content {
      padding: 15px;
    } */

    .card-content h2 {
      font-size: 18px;
      margin: 0 0 10px;
    }

    .card-list {
      list-style: inside;
      list-style-type: disc;
      padding: 0;
      margin: 0 0 20px;
    }

    .card-list li {
      font-size: 14px;
      color: #007bff;
      margin-bottom: 5px;
    }

    .price-btn {
      background-color: #007bff;
      width: 50%;
      color: white;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      display: block;
      box-sizing: border-box;
      border-radius: 5px;
      text-decoration: none;
    }
    </style>
    <body>
        <div class="card">
            <div class="card-content">
                <h2>{{ card.title }}</h2>
                {{ card_list(card) }}
                <button class="price-btn">CHECK PRICE</button>
            </div>
            <div>
                <img src="{{card.image_url}}" class="card-image">
            </div>
        </div>
    </body>


